<launch>
    <arg name="model_name" default="roboy_xylophone"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="false"/>
    <arg name="gui" default="false"/>
    <arg name="headless" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="simulate" default="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <!--<arg name="world_name" value="roboy_xylophone.world"/>-->
    </include>

    <param name="planning_plugin" type="string" value="ompl_interface/OMPLPlanner"/>

    <group if="$(arg simulate)">
        <node name="sdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
              args="-sdf -file $(find roboy_models)/xylophone/model.sdf -model xylophone
                          -x 0.1 -y -0.6 -z 0.15
                          -R 0.0 -P 0 -Y -3.07"
        />
        <node name="sdf_spawner2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
              args="-sdf -file $(find roboy_models)/$(arg model_name)/model.sdf -model $(arg model_name)
              -J hip_joint 0.2877185091848563
              -J sphere_axis0 0.29086141871888593
              -J sphere_axis1 0.8282385691186516
              -J sphere_axis2 -0.757384650187231
              -J elbow_left 1.209248215971815
              -J wrist_left 0.8629362373470855
        "
        />
    </group>

    <node pkg="tf" type="static_transform_publisher" name="static_map" args="0 0 0 0 0 0 1  /world /map  100"/>

    <param name="robot_description_sdf" textfile="$(find roboy_models)/$(arg model_name)/model.sdf" />
    <param name="robot_description" textfile="$(find roboy_models)/$(arg model_name)/model.urdf" />
    <param name="urdf_path" value="$(find roboy_models)/$(arg model_name)/model.urdf" />

    <!-- Load the parameters to the parameter server from the yaml file-->
    <rosparam file="$(find roboy_controller)/config/$(arg model_name).yaml" command="load"/>

    <node name="roboy_controller"
          pkg="roboy_controller"
          type="roboy"
          respawn="false"
          output="screen"
          args="$(arg model_name)"
    />
</launch>
        <!--launch-prefix="gdb -ex run"-->
        <!--launch-prefix="gdb -ex run"-->
        <!-- FOR DEBUGGING USE THIS launch-prefix="xterm -e gdb -se devel/lib/myo_master/multiJoint" FOR VALGRIND USE THIS launch-prefix="valgrind -log-file=/home/roboy/workspace/ros_hierarchy/valgrind.log -leak-check=full"-->

        <!-- args="-c /home/roboy/workspace/roboy-ros-control/src/roboy_powerlink/powerlink/output/mnobd.cdc"-->